.formWrapper {
}

.formBtns {
  display: flex;
  justify-content: center;
  padding: 26px 0;
  border-bottom: 1px solid #d0d3da;
  gap: 16px;
}

.btn {
  width: 270px;
  border-radius: 4px;
}

.formInpts {
  display: flex;
  flex-direction: column;
  padding: 16px 40px;
  overflow-y: scroll;
  height: 85vh;
  gap: 4px;
}

.formInpts select,
.formInpts input {
  width: 100%;
}

.description {
  box-sizing: border-box;
  padding: 8px 12px 32px;
  border: 1px solid #d0d3da;
  border-radius: 8px;
  width: 100%;
  min-height: 60px;
  overflow: hidden;
  resize: none;
  margin-bottom: 30px;
}

.images {
  position: relative;
}

.inputFile {
  position: relative;
  bottom: 30px;
  left: 510px;
  cursor: pointer;
}

.priceBlock {
  margin: 32px 0;
}

.categorySection {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

.categoryBlock {
  width: 100%;
}

.volumeSection {
}

.formButton {
  border: none;
  background: none;
  padding-left: 0;
  color: #c06ecc;
}
