.loader {
  margin-top: 200px;
  margin-left: 650px;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 32px 24px;
  gap: 24px;
  width: 500px;
  position: relative;
}

.form p {
  margin: 5px 0;
}

.showPassword {
  position: absolute;
  top: 207px;
  right: 40px;
  cursor: pointer;
}

.showPasswordCheck {
  position: absolute;
  top: 275px;
  right: 40px;
  cursor: pointer;
}

.fullWidth {
  width: 100%;
}

.button {
  width: 100%;
  margin: 10px 0;
}

.check {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.chkBox {
  accent-color: #c06ecc;
  width: 16px;
  height: 16px;
  margin-top: 6px;
  margin-right: 12px;
}

.links {
  display: flex;
  justify-content: center;
  margin: 5px 0;
  color: "#C06ECC";
}

.links a {
  text-decoration: none;
}

.error {
  display: flex;
  justify-content: center;
  margin: 5px 0;
  color: red;
}
