.wrapper {
  font-size: 14px;
  line-height: 20px;
  color: #434652;
  display: flex;
  flex-direction: row;
  width: 1000px;
  background-color: #fff;
  box-shadow: -5px 1px 15px rgba(0, 0, 0, 0.05);
  border-radius: 24px 24px 0px 0px;
  padding: 40px;
  height: 750px;
  justify-content: space-between;
  gap: 96px;
  position: relative;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
}

.list button {
  margin: 8px 0;
}

.list input button {
  width: 100%;
}

.noSubCategories {
  color: #000000;
  margin-top: 16px;
}

.noSelectedCategory {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 16px;
  color: #000000;
}

.arrows {
  position: absolute;
  top: 50%;
  left: 50%;
}

.addProtocolBtn {
  margin-top: 45px !important;
}

.headers {
  display: flex;
  gap: 60px;
  background: #f8f8fa;
  color: #737680;
  padding: 0 8px;
  border-top: 1px solid #ebecef;
  border-bottom: 1px solid #ebecef;
  height: 44px;
  align-items: center;
  cursor: auto;
}
