.wrapper {
  font-size: 14px;
  line-height: 20px;
  color: #434652;
  flex-direction: column;
  width: 1000px;
  background-color: #fff;
  box-shadow: -5px 1px 15px rgba(0, 0, 0, 0.05);
  border-radius: 24px 24px 0px 0px;
  padding: 24px;
}

.btnFullWidth {
  width: 100%;
  margin: 24px 0;
}

.noGoods {
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  justify-content: end;
  margin-bottom: 24px;
  position: relative;
}

.searchInput {
  width: 320px;
  padding-left: 36px;
}

.searchIcon {
  position: absolute;
  top: 10px;
  right: 290px;
}

.closeIcon {
  position: absolute;
  top: 13px;
  right: 20px;
  width: 6px;
  cursor: pointer;
}

.closeIcon path {
  fill: #818590;
}
