.wrapper {
  font-size: 14px;
  line-height: 20px;
  color: #434652;
  flex-direction: column;
  width: 1000px;
  height: 750px;
  background-color: white;
  margin-top: 20px;
}

.btnFullWidth {
  width: 100%;
  margin: 24px 0;
}

.table {
  display: block;
  height: 650px;
  overflow-x: hidden;
  overflow-y: hidden;
  border: none;
  font-size: 14px;
  line-height: 24px;
  border-collapse: collapse;
  position: relative;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.table::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.tableHead {
  background-color: #f8f8fa;
  color: #737680;
}

.tableHead th {
  padding: 10px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}

.tableHead th:first-child {
  padding-left: 8px;
}

.tableBody tr {
  padding: 20px 0 0 6px;
  border-bottom: 1px solid #ebecef;
}
.clickableRow {
  cursor: pointer;
}

.tableBody tr td {
  height: 38px;
}

.brandsTableRow {
  height: 100px;
  align-items: center;
}

.chkBox {
  accent-color: #c06ecc;
  width: 16px;
  height: 16px;
  margin-top: 4px;
  margin-right: 24px;
}
