.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.button:focus-visible {
  outline: -webkit-focus-ring-color auto 0;
}

.filled {
  background-color: #c06ecc;
  color: #fff;
  border: 1px solid #bd68ca;
}

.transparent {
  background: none;
  color: black;
  border: 1px solid #d0d3da;
}

.grey {
  background: #f8f8fa;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid #d0d3da;
  padding: 6px 10px 0px;
}

.left {
  border-radius: 4px 0px 0px 4px;
}

.left svg {
  transform: rotate(180deg);
}
