.wrapper {
  font-size: 14px;
  line-height: 20px;
  color: #434652;
  flex-direction: column;
  width: 1000px;
  background-color: #fff;
  box-shadow: -5px 1px 15px rgba(0, 0, 0, 0.05);
  border-radius: 24px 24px 0px 0px;
  padding: 24px;
}

.btnFullWidth {
  width: 100%;
  margin: 24px 0;
}

.noGoods {
  display: flex;
  justify-content: center;
}
