.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.naviInput {
  max-width: 46px;
  padding: 8px 10px 8px 10px;
  border: 1px solid #d8dae0;
  border-radius: 4px;
  text-align: center;
}

.naviSelect {
  width: 50px;
}

.pageCount {
  color: #bcbfcc;
  display: block;
  width: 45px;
}
