.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.btnsBlock {
  margin-left: 16px;
}

.naviInput {
  width: 26px;
  padding: 5px 0px 5px 14px;
}

.naviSelect {
  width: 50px;
}

.pageCount {
  color: #bcbfcc;
  display: block;
  width: 40px;
}
