.formWrapper {
}

.formBtns {
  display: flex;
  justify-content: center;
  padding: 26px 0;
  border-bottom: 1px solid #d0d3da;
  gap: 16px;
}

.btn {
  width: 270px;
  border-radius: 4px;
}

.formInpts {
  display: flex;
  flex-direction: column;
  padding: 16px 40px;
  overflow-y: scroll;
  height: 87vh;
  gap: 4px;
}

.noScroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.noScroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.formInpts select,
.formInpts input {
  width: 100%;
}

.description {
  box-sizing: border-box;
  padding: 8px 12px 32px;
  border: 1px solid #d0d3da;
  border-radius: 8px;
  width: 100%;
  min-height: 60px;
  overflow-y: scroll;
  resize: none;
}

/* .customSelect {
  position: relative;
}

.selectInput {
  cursor: pointer;
  background-color: #fff;
}

.selectIcon {
  position: absolute;
  top: 15px;
  right: 18px;
  cursor: pointer;
  transform: rotate(0);
}

.selectIconActive {
  transform: rotate(180deg);
} */

.total {
  display: flex;
  justify-content: space-between;
}

.totalTypography {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
