.myTextarea {
  box-sizing: border-box;
  padding: 8px 12px 32px;
  border: 1px solid #d0d3da;
  border-radius: 8px;
  width: 100%;
  min-height: 60px;
  overflow-y: scroll;
  resize: none;
}

.myTextarea {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.myTextarea::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.myTextarea:focus {
  outline-color: #8a3597;
  box-shadow: -2px -2px 0px #eed9f2, 2px 2px 0px #eed9f2, -2px 2px 0px #eed9f2,
    2px -2px 0px #eed9f2;
}
