.tableForm {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 40px;
  position: relative;
}

.inputFile::-webkit-file-upload-button {
  visibility: hidden;
}

.inputFile::before {
  content: "Загрузите логотип бренда                ";
  color: #737680;
}

.input {
  width: 100%;
}

.btn {
  width: 100%;
}
