.customSelect {
  position: relative;
}

.selectInput {
  cursor: pointer;
  background-color: #fff;
}

.selectIcon {
  position: absolute;
  top: 15px;
  right: 18px;
  cursor: pointer;
  transform: rotate(0);
}

.selectIconActive {
  transform: rotate(180deg);
}
